#project-list tr > td:first-child {
    width: 10%;
    white-space: nowrap;
}

#project-list progress {
    width: 100%;
}

#project-list td {
    padding: 0.2em 1em;
}

#project-list tr.status-queued {
    background: rgba(0, 0, 0, 0.1);
}

#project-list tr.status-working {
    background: rgba(0, 0, 180, 0.3);
}

#project-list tr.status-success {
    background: rgba(0, 140, 0, 0.75);
    color: white;
}

#project-list tr.status-failed {
    background: rgba(220, 0, 0, 0.8);
    color: white;
}
