{% extends "main.html" %}

{% block main_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
{% endblock %}

{% block main %}
    <table id="project-list">
        <thead>
            <th style="text-align: left;">Name</th>
            <th style="text-align: right;">Actions</th>
        </thead>

        <tbody>
            {% for project in projects %}
            <tr class="status-{% if project.status == 0 %}queued{% elif project.status == 1 %}working{% elif project.status == 2 %}success{% elif project.status == 3 %}failed{% endif %}">
                <td>{{ project.name }}</td>
                <td class="actions">
                    {% if project.status == 1 %}<progress max="1" value="{{ project.progress }}"> {{ project.progress * 100 }}% </progress>{% endif %}
                    {% if project.status == 2 %}<a class="mdi mdi-download" href="{{ url_for('download', name=project.name) }}"></a>{% endif %}
                    {% if project.status == 2 or project.status == 3 %}<a class="mdi mdi-text-box-search-outline" href="{{ url_for('log', name=project.name) }}"></a>{% endif %}
                    {% if project.status != 1 %}<a class="mdi mdi-delete" href="{{ url_for('delete', name=project.name) }}"></a>{% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p id="status-legend">
        <span class="color-sample queued"></span> Queued,
        <span class="color-sample working"></span> Working,
        <span class="color-sample success"></span> Success,
        <span class="color-sample failure"></span> Failure
    </p>
{% endblock %}
