{% extends "main.html" %}

{% block main_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
{% endblock %}

{% block main %}
    <table id="project-list">
        <thead>
            <th style="text-align: left;">Name</th>
            <th style="text-align: right;">Actions</th>
        </thead>

        <tbody>
            {% for project in projects %}
            <tr class="status-{% if project.getStatus() == 0 %}queued{% elif project.getStatus() == 1 %}working{% elif project.getStatus() == 2 %}success{% elif project.getStatus() == 3 %}failed{% endif %}">
                <td>{{ project.getName() }}</td>
                <td class="actions">
                    {% if project.getStatus() == 1 %}<progress max="100" {% if project.getProgress() %}value="{{ project.getProgress() }}"{% endif %}> {{ project.getProgress() }}% </progress>{% endif %}
                    {% if project.getStatus() == 2 %}<a class="mdi mdi-download" href="{{ url_for('download', id=project.getId()) }}" download></a>{% endif %}
                    {% if project.getStatus() == 3 %}<a class="mdi mdi-reload" href="{{ url_for('retry', id=project.getId()) }}"></a>{% endif %}
                    {% if project.getStatus() == 2 or project.getStatus() == 3 %}<a class="mdi mdi-text-box-search-outline" href="{{ url_for('log', id=project.getId()) }}"></a>{% endif %}
                    {% if project.getStatus() != 1 %}<a class="mdi mdi-delete" href="{{ url_for('delete', id=project.getId()) }}"></a>{% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p id="status-legend">
        <span class="color-sample queued"></span> Queued,
        <span class="color-sample working"></span> Working,
        <span class="color-sample success"></span> Success (up to 1 month),
        <span class="color-sample failure"></span> Failure (up to 1 week)
    </p>
{% endblock %}
