<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='root.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='flash.css') }}">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.8.55/css/materialdesignicons.min.css">
        <title>{{ title }} - ShotcutAutoexporter</title>
        {% block head %}{% endblock %}
    </head>
    <body>    
        {% block root %}{% endblock %}
    </body>
</html>
