{% extends "main.html" %}

{% block main %}
    <script>
        console.log('UPLOAD');
    </script>
    
    <table id="project-list">
        <thead>
            <th>Name</th>
            <th>Size</th>
            <th>Actions</th>
        </thead>

        <tbody>
            <tr>
                <td>Project.mtl</td>
                <td>500MB</td>
                <td class="actions"><button type="button" class="mdi mdi-delete"></button></td>
            </tr>
            <tr>
                <td>Project.jpg</td>
                <td>12.4MB</td>
                <td class="actions"><button type="button" class="mdi mdi-delete"></button></td>
            </tr>
        </tbody>
    </table>
    
    <p>
        <button type="button" class="mdi mdi-plus-box">Add file</button>
        <button type="button" class="mdi mdi-plus-box-multiple">Add folder</button>
        <button type="button" class="mdi mdi-upload" disabled>Upload</button>
    </p>
{% endblock %}
