{% extends "root.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block root %}
    <div id="loginalign">
        <center>
            <span id="app-title" href="/"><b>Shotcut</b>Autoexporter</span>
        </center>
    
        {% if form %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.password(autocomplete="current-password") }}<br>
                {% for error in form.password.errors %}
                <center><b style="color: red;">{{ error }}</b></center>
                {% endfor %}
            </p>
            <div id="loginactions">
                <span>{{ form.remember_me() }} {{ form.remember_me.label }}</span>
                <span>{{ form.submit() }}</span>
            </div>
            {% include "flash.html" %}
        </form>
        {% elif ipblock %}
        <p>Your ip address of <b>{{ ipblock }}</b> is not allowed. Please change your network and try again!</p>
        {% endif %}
    </div>
{% endblock %}
