{% extends "main.html" %}

{% block main_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
{% endblock %}

{% block main %}
    <table id="uploads">
        <thead>
            <th>Name</th>
            <th>Size</th>
            <th>Actions</th>
        </thead>

        <tbody id="fileList"></tbody>
    </table>
    
    <p>
        <button type="button" id="filesBtn" class="mdi mdi-plus-box">Add files</button>
        <button type="button" id="foldersBtn" class="mdi mdi-plus-box-multiple">Add folders</button>
        <button type="button" id="uploadBtn" class="mdi mdi-upload" disabled>Upload</button>
    </p>
    
    <p id="uploadnote">The maximum allowed filesize is 8GB.</p>
    
    <input id="filesDiag" style="display: none;" type="file" multiple=true>
    <input id="foldersDiag" style="display: none;" type="file" multiple=true webkitdirectory=true>
    <script>
        const fileList = document.getElementById('fileList');
        const filesBtn = document.getElementById('filesBtn');
        const foldersBtn = document.getElementById('foldersBtn');
        const filesDiag = document.getElementById('filesDiag');
        const foldersDiag = document.getElementById('foldersDiag');
        const uploadBtn = document.getElementById('uploadBtn');
        let files = Array();
        
        function renderFile(f) {
            uploadBtn.disabled = false;
            let row = fileList.appendChild(document.createElement('tr'));
            files.push({'file': f, 'row':row});
            row.appendChild(document.createElement('td')).innerText = f.webkitRelativePath || f.name;
            row.appendChild(document.createElement('td')).innerText = Math.round(f.size / 1024 * 100) / 100 + 'KiB';
            let actionTd = row.appendChild(document.createElement('td'));
            actionTd.classList.add('actions');
            let delBtn = actionTd.appendChild(document.createElement('button'));
            delBtn.type = 'button';
            delBtn.classList.add('mdi', 'mdi-delete');
            delBtn.addEventListener('click', () => {
                row.remove();
                files = files.filter(e => { return e.file != f;});
                if(!files.length)
                    uploadBtn.disabled = true;
            });
        }
        
        //Register event handlers
        filesBtn.addEventListener('click', () => filesDiag.click());
        foldersBtn.addEventListener('click', () => foldersDiag.click());
        filesDiag.addEventListener('change', () => {
            for(f of filesDiag.files)
                renderFile(f);
        });
        foldersDiag.addEventListener('change', () => {
            for(f of foldersDiag.files)
                renderFile(f);
        });
        uploadBtn.addEventListener('click', () => {
            //Prepare the upload...
            //Prepare the path for every file...
            let pathMap = new Map();
            for(fileData of files)
                pathMap.set(fileData, (fileData.file.webkitRelativePath || fileData.file.name));
            //Is every file inside the same subdir?
            let commonDir = null;
            for(let [fileData, fullPath] of pathMap) {
                let slashPos = fullPath.search('/');
                if(slashPos == -1) {
                    //Dir mismatch -> no common dir found!
                    commonDir = null;
                    break;
                } else {
                    let fCommonDir = fullPath.substr(0, slashPos);
                    if(commonDir == null)
                        commonDir = fCommonDir;
                    else if(commonDir != fCommonDir) {
                        //Dir mismatch -> no common dir found!
                        commonDir = null;
                        break;
                    }
                }
            }
            //Remove common subdir from the path (when found).
            if(commonDir)
                for(let [fileData, fullPath] of pathMap) {
                    let newPath = fullPath.substr(fullPath.search('/') + 1);
                    pathMap.set(fileData, newPath);
                    fileData.row.firstChild.innerText = newPath;
                }
            //Find a file *.mlt in root -> projects name!
            let foundProjectFile = null;
            for(let [fileData, fullPath] of pathMap)
                if(fullPath.toLowerCase().endsWith('.mlt') && fullPath.search('/') == -1) {
                    foundProjectFile = fileData;
                    break;
                }
            if(!foundProjectFile) {
                alert('Could not find any .mlt file in root folder' + (commonDir ? ' (and also not in the common subdir "' + commonDir  + '")': ' (additionally no common subdir was found)') + '!');
                return;
            }
            //Start the upload for every file...
            const url = new URL(window.location);
            function uploadFile(fileData, fullPath, uploadId) {
                fileData.row.lastChild.firstChild.remove(); //remove the delete button
                let progressBar = fileData.row.lastChild.appendChild(document.createElement('progress')); //add a progressbar instead
                progressBar.max = 1;
                return new Promise((resolve, reject) => {
                    function error(e) {
                        fileData.row.lastChild.firstChild.remove(); //remove the progress bar
                        fileData.row.lastChild.appendChild(document.createTextNode('ERROR ' + e));
                        console.error(e);
                        reject(e);
                    }
                    //Start XHR upload - and also update the progress bar on any progress event
                    let xhr = new XMLHttpRequest();
                    xhr.upload.addEventListener('progress', e => {
                        if(e.total)
                            progressBar.value = e.loaded / e.total;
                        else
                            progressBar.removeAttribute('value');
                    });
                    xhr.addEventListener('load', resolve);
                    xhr.addEventListener('readystatechange', () => {
                        if(xhr.readyState != 4)
                            return;
                        if(xhr.status == 200)
                            resolve();
                        else
                            reject(xhr.responseText);
                    });
                    xhr.addEventListener('error', error);
                    xhr.addEventListener('abort', error);
                    xhr.open('POST', url);
                    let fD = new FormData();
                    fD.append('path', fullPath);
                    fD.append('id', uploadId);
                    fD.append('file', fileData.file);
                    xhr.send(fD);
                });
            }
            let uploadId = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);;
            console.log('Project id', uploadId);
            let promises = Array();
            for(let [fileData, fullPath] of pathMap)
                promises.push(uploadFile(fileData, fullPath, uploadId));
            //When done -> Goto list
            filesBtn.disabled = true;
            foldersBtn.disabled = true;
            uploadBtn.disabled = true;
            uploadBtn.innerText = 'Uploading...';
            Promise.all(promises).then(() => {
                let xhr = new XMLHttpRequest();
                xhr.addEventListener('load', () => {window.location = '{{ url_for("list") }}'});
                xhr.addEventListener('readystatechange', () => {
                    if(xhr.readyState == 4 && xhr.status != 200)
                        alert('Something went wrong (during finish): ' + xhr.responseText);
                });
                xhr.open('POST', url);
                let fD = new FormData();
                fD.append('finish', true);
                fD.append('id', uploadId);
                xhr.send(fD);
                uploadBtn.innerText = 'Finishing...';
            }).catch(e => alert('Something went wrong (during upload): ' + e));
        });
    </script>
{% endblock %}
